:root {
  --heading-color: #120f2d;
  --bg-color: #f6f5fd;
  --yollow-color: #faca22;
  --body-color: #46435e;
  --theme-color: #3a44ca;
  --thm-clr-2: #ee4158;
  --white-color: #ffffff;
  --black-color: #151931;
  --dark-white: #d9dae7;
  --light-color: #efefef;
  --lightgrey-color: #ccc;
  --font-1: "Hind", sans-serif;
  --font-2: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
